<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="40960" executionTimeout="300" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="41943040" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
